.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
# Виртуальные окружения
venv/
.venv-export/
env/

# Переменные окружения
.env
.env.*
!.env.example

# Python-артефакты
*.pyo
*.so


# IDE
.idea/
.vscode/

# ML-модели
model/
onnx_model/
*.onnx
wheels/

# ОС
.DS_Store
*.log
